{{#each type_id: 1}}

	<section id="ride--{{@index}}" class="ride">
	<div class="rideName"><a href="description">{{name}}</a></div>
	{{!-- <div class="rideDescr">{{description}}</div> --}}
	<div class="rideLocat">{{location}}</div>
    </section>

{{/each}}

{{#each type_id: 2}}

	<section id="food--{{@index}}" class="food">
	<div class="foodName"><a href="description">{{name}}</a></div>
	{{!-- <div class="foodDescr">{{description}}</div> --}}
	<div class="foodLocat">{{location}}</div>
    </section>

{{/each}}

{{#each type_id: 3}}

	<section id="show--{{@index}}" class="show">
	<div class="showName"><a href="description">{{name}}</a></div>
	{{!-- <div class="showDescr">{{description}}</div> --}}
	<div class="showLocat">{{location}}</div>
    </section>

{{/each}}

{{#each type_id: 4}}

	<section id="vendor--{{@index}}" class="vendor">
	<div class="vendorName"><a href="description">{{name}}</a></div>
	{{!-- <div class="vendorDescr">{{description}}</div> --}}
	<div class="vendorLocat">{{location}}</div>
    </section>

{{/each}}

{{#each type_id: 5}}

	<section id="character--{{@index}}" class="character">
	<div class="characterName"><a href="description">{{name}}</a></div>
	{{!-- <div class="characterDescr">{{description}}</div> --}}
	<div class="characterLocat">{{location}}</div>
    </section>

{{/each}}

{{#each type_id: 6}}

	<section id="animal--{{@index}}" class="animal">
	<div class="animalName"><a href="description">{{name}}</a></div>
	{{!-- <div class="animalDescr">{{description}}</div> --}}
	<div class="animalLocat">{{location}}</div>
    </section>

{{/each}}

{{#each type_id: 7}}

	<section id="game--{{@index}}" class="game">
	<div class="gameName"><a href="description">{{name}}</a></div>
	{{!-- <div class="gameDescr">{{description}}</div> --}}
	<div class="gameLocat">{{location}}</div>
    </section>

{{/each}}

{{#each type_id: 8}}

	<section id="event--{{@index}}" class="event">
	<div class="eventName"><a href="description">{{name}}</a></div>
	{{!-- <div class="eventDescr">{{description}}</div> --}}
	<div class="eventLocat">{{location}}</div>
    </section>

{{/each}}