{{#each this}}

	<div id="areas--{{id}}" class="lm-areas">
	<h4 class="attrName"><a href="#">{{name}}-({{type_id}})</a></h4>
	{{!-- <h5 class="attracDescr">{{description}}</h5>
	{{#if times}}
		<div class="attracTimes">{{times}}</div>
	{{/if}}
	</div> --}}

{{/each}}
